= form_for(comment, :html => { :role => "form" }) do |f|
  .error_explanation.alert.alert-info.fade.in.hide
    %button{ "class" => "close close_errors"}
      ×
    .error_details
  .form-group
    = f.label :content
    = f.text_area :content, :rows => '10', :class => "form-control", :placeholder => "Add your comment"
    = f.hidden_field :article_id
  .actions
    = f.submit "Submit", :class => "btn btn-danger"
