.testing
.panel.panel-info
  .panel-heading
    .row
      .pull-left.col-md-8
        Article By
        %em
          = @article.author_name
      .col-md-4
        .pull-right
          %p
            - if can? :update, @article
              = link_to "Edit", edit_article_path(@article), class: "btn btn-info active"
            - if can? :destroy, @article
              %a{"data-confirm" => "Are you sure?", "data-method" => "delete", href: "/articles/#{@article.id}", "class" => "btn btn-danger active"} Destroy
            = link_to "Back", articles_path, class: "btn btn-info active"

  .panel-body
    %div.row.well-sm
      %div.col-md-12
        = simple_format @article.content

#comments 
  = render 'comments/comments', {article: @article}

- if can? :create, Comment
  = render :partial => 'comments/form', :locals => { comment: @comment} 
