.panel.panel-default
  .panel-heading
    .row
      .pull-left.col-md-8
        Article By
        %em
          = @article.author_name
      .col-md-4
        .pull-right
          %p
            - if can? :update, @article
              = link_to "Edit", edit_article_path(@article), class: "btn btn-info active"
            - if can? :destroy, @article
              %a{"data-confirm" => "Are you sure?", "data-method" => "delete", href: "/articles/#{@article.id}", "class" => "btn btn-danger active"} Destroy
            = link_to "Back", articles_path, class: "btn btn-info active"

  .panel-body
    %div.row.well-sm
      %div.col-md-12
        = simple_format @article.content

- unless @article.comments.empty?
  %h2= pluralize(@article.comments.size, 'comment')
  - for comment in @article.comments
    .row
      .pull-left.col-md-8
        %b= comment.user.name
        @ #{comment.created_at.strftime('%b %d, %Y %H:%M')}
      .col-md-4
        .pull-right
          %p
            - if can? :update, comment
              = link_to "Edit", edit_comment_path(comment), class: "btn btn-info"
            - if can? :destroy, comment
              %a{"data-confirm" => "Are you sure?", "data-method" => "delete", href: "/comments/#{comment.id}", "class" => "btn btn-danger"} Destroy
    .row.well-sm
      .col-md-12
        = simple_format comment.content

= render :partial => 'comments/form'
